<div id="<%= dom_id twitter %>">
<p>
  <!-- <strong>User: </strong> -->
  
  <img class="user" <%= image_tag("usuario.png") %>
  <b><%= twitter.username %></b>
  </p>

  <!-- <strong>Description:</strong> -->
  <p class="descrip">
    <%= twitter.description %>
  </p>

</div>
